.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
p {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(13, minmax(64px, 1fr));
  grid-gap: 0.05rem;  
  /* grid-auto-flow: column dense; */
}
.cell {
  max-width: 64px;
  background: inherit;
  /* justify-self: start; */
}
.cell::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.live {
  background: white;
  /* justify-self: start; */
}